.container {
  padding: 30px;
}

.aling-button {
  display: flex;
  justify-content: center;
}

.load {
  display: flex;
  justify-content: center;
}

.table {
  display: flex;
  justify-content: center;
}
